Now we will take a look at the datasets we created and clean bad data

First we import the libraries we need

In [1]:
import os
import pandas as pd

And list our target folder

In [2]:
DATA_DIR = '../data/interim/'

files = os.listdir(DATA_DIR)
files

['luxmeter.csv',
 'presence.csv',
 'reedsensor.csv',
 'environmental.csv',
 'powerelectricity.csv']

Now let's take a look at one sensor at a time and see if we need to clean data or to compute other operation on the dataset

## Luxmeter

In [3]:
luxmeter_df = pd.read_csv(DATA_DIR + 'luxmeter.csv')
luxmeter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447273 entries, 0 to 447272
Data columns (total 9 columns):
idsensor              447273 non-null object
sensortype            447273 non-null object
srtDate               447273 non-null object
adc_channel_00        447273 non-null float64
adc_channel_01        447273 non-null float64
battery_level         447273 non-null float64
device_temperature    446950 non-null float64
illuminance           446950 non-null float64
sequence_number       446950 non-null float64
dtypes: float64(6), object(3)
memory usage: 30.7+ MB

We can see there are some rows without device_temperature illuminance and sequence_number columns. Let's take a look at those rows

In [4]:
null_illuminance = luxmeter_df[luxmeter_df['illuminance'].isnull()]
null_illuminance.head()

,idsensor,sensortype,srtDate,adc_channel_00,adc_channel_01,battery_level,device_temperature,illuminance,sequence_number
688,jzp://edv#0303.0000,LuxMeter,2018-03-01T06:45:02.750+01:00,3.25,23.0,1.0,NaN,NaN,NaN
2129,jzp://edv#0303.0000,LuxMeter,2018-03-01T18:47:20.568+01:00,3.25,24.0,1.0,NaN,NaN,NaN
3321,jzp://edv#0303.0000,LuxMeter,2018-03-02T04:48:00.601+01:00,3.25,24.0,1.0,NaN,NaN,NaN
4760,jzp://edv#0303.0000,LuxMeter,2018-03-02T16:50:18.572+01:00,3.25,24.0,1.0,NaN,NaN,NaN
5272,jzp://edv#0303.0000,LuxMeter,2018-03-02T21:08:57.201+01:00,3.25,24.0,1.0,NaN,NaN,NaN

Strange, it seems that the 3 data are missing in some rows, let's check if it is always the case

In [5]:
null_seq_num = luxmeter_df[luxmeter_df['sequence_number'].isnull()]
null_dev_temp = luxmeter_df[luxmeter_df['device_temperature'].isnull()]

null_illuminance.equals(null_seq_num) and null_seq_num.equals(null_dev_temp)

True

Ok as we thought, so this is a case of malfunctioning of the device or data collection problems, we can remove those rows

In [6]:
luxmeter_df.dropna(inplace=True)

In [7]:
luxmeter_df.describe(include='all')

,idsensor,sensortype,srtDate,adc_channel_00,adc_channel_01,battery_level,device_temperature,illuminance,sequence_number
count,446950,446950,446950,446950.000000,446950.000000,446950.000000,446950.000000,446950.000000,446950.000000
unique,1,1,446950,NaN,NaN,NaN,NaN,NaN,NaN
top,jzp://edv#0303.0000,LuxMeter,2019-03-10T20:24:43.911+01:00,NaN,NaN,NaN,NaN,NaN,NaN
freq,446950,446950,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,5103.761779,1813.209500,3.233814,26.790793,88.296767,122.147864
std,NaN,NaN,NaN,8404.085811,3237.718477,0.057327,1.472062,151.318945,72.901364
min,NaN,NaN,NaN,1.000000,0.000000,2.250000,-64.000000,0.000780,0.000000
25%,NaN,NaN,NaN,12.000000,3.000000,3.250000,26.000000,0.286529,59.000000
50%,NaN,NaN,NaN,564.000000,219.000000,3.250000,27.000000,8.014459,119.000000
75%,NaN,NaN,NaN,7557.000000,2455.000000,3.250000,28.000000,107.285841,183.000000
max,NaN,NaN,NaN,59771.000000,30023.000000,3.250000,63.000000,1128.603516,255.000000

Ok the data is composed of one single sensor and single sensortype we can save this new file and proceed to the others

In [8]:
NEW_DATA_DIR = '../data/processed/'

try:
    os.mkdir(DATA_DIR)
except:
    pass

In [9]:
def save(df, filepath):
    df.to_csv(filepath, index=False)
    print(f"Saved {filepath}")

In [10]:
save(luxmeter_df, NEW_DATA_DIR + 'luxmeter.csv')

Saved ../data/processed/luxmeter.csv

## Presence

In [11]:
presence_df = pd.read_csv(DATA_DIR + 'presence.csv')
presence_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230378 entries, 0 to 1230377
Data columns (total 7 columns):
idsensor              1230378 non-null object
sensortype            1230378 non-null object
srtDate               1230378 non-null object
battery_level         1230378 non-null float64
device_temperature    1230378 non-null float64
presence              1230378 non-null float64
sequence_number       1229677 non-null float64
dtypes: float64(4), object(3)
memory usage: 65.7+ MB

There are some rows with missing sequence number let's look at normal rows and those rows

In [12]:
presence_df.head()

,idsensor,sensortype,srtDate,battery_level,device_temperature,presence,sequence_number
0,jzp://edv#0321.0000,Presence,2018-03-01T01:01:02.827+01:00,3.45,5.0,0.0,12.0
1,jzp://edv#0321.0000,Presence,2018-03-01T01:03:02.635+01:00,3.45,5.0,0.0,13.0
2,jzp://edv#0321.0000,Presence,2018-03-01T01:05:02.668+01:00,3.45,5.0,0.0,14.0
3,jzp://edv#0321.0000,Presence,2018-03-01T01:07:02.612+01:00,3.45,5.0,0.0,15.0
4,jzp://edv#0321.0000,Presence,2018-03-01T01:09:02.401+01:00,3.45,5.0,0.0,16.0

In [13]:
presence_null = presence_df[presence_df['sequence_number'].isnull()]
presence_null.head()

,idsensor,sensortype,srtDate,battery_level,device_temperature,presence,sequence_number
1544,jzp://edv#0321.0000,Presence,2018-03-03T04:06:09.438+01:00,3.45,4.0,0.0,NaN
3415,jzp://edv#0321.0000,Presence,2018-03-05T16:06:06.208+01:00,3.45,5.0,0.0,NaN
5365,jzp://edv#0321.0000,Presence,2018-03-08T04:06:00.148+01:00,3.45,5.0,0.0,NaN
7987,jzp://edv#0321.0000,Presence,2018-03-10T16:05:58.243+01:00,3.45,9.0,0.0,NaN
9797,jzp://edv#0321.0000,Presence,2018-03-13T04:05:52.973+01:00,3.45,7.0,0.0,NaN

We can take a look to what happens to the sequence number when there is a NaN

In [14]:
presence_df.iloc[1540:1550]

,idsensor,sensortype,srtDate,battery_level,device_temperature,presence,sequence_number
1540,jzp://edv#0321.0000,Presence,2018-03-03T03:58:02.787+01:00,3.45,4.0,0.0,18.0
1541,jzp://edv#0321.0000,Presence,2018-03-03T04:00:02.593+01:00,3.45,4.0,0.0,19.0
1542,jzp://edv#0321.0000,Presence,2018-03-03T04:02:02.820+01:00,3.45,4.0,0.0,20.0
1543,jzp://edv#0321.0000,Presence,2018-03-03T04:04:02.822+01:00,3.45,4.0,0.0,21.0
1544,jzp://edv#0321.0000,Presence,2018-03-03T04:06:09.438+01:00,3.45,4.0,0.0,NaN
1545,jzp://edv#0321.0000,Presence,2018-03-03T04:08:09.485+01:00,3.45,4.0,0.0,1.0
1546,jzp://edv#0321.0000,Presence,2018-03-03T04:10:08.521+01:00,3.45,4.0,0.0,2.0
1547,jzp://edv#0321.0000,Presence,2018-03-03T04:12:08.333+01:00,3.45,4.0,0.0,3.0
1548,jzp://edv#0321.0000,Presence,2018-03-03T04:14:08.335+01:00,3.45,4.0,0.0,4.0
1549,jzp://edv#0321.0000,Presence,2018-03-03T04:16:08.489+01:00,3.45,4.0,0.0,5.0

Let's check if it's a common pattern

In [15]:
presence_df.iloc[7980:7990]

,idsensor,sensortype,srtDate,battery_level,device_temperature,presence,sequence_number
7980,jzp://edv#0321.0000,Presence,2018-03-10T15:53:39.105+01:00,3.45,9.0,1.0,61.0
7981,jzp://edv#0321.0000,Presence,2018-03-10T15:53:51.463+01:00,3.40,9.0,0.0,62.0
7982,jzp://edv#0321.0000,Presence,2018-03-10T15:55:51.426+01:00,3.45,9.0,0.0,63.0
7983,jzp://edv#0321.0000,Presence,2018-03-10T15:57:51.256+01:00,3.45,9.0,0.0,64.0
7984,jzp://edv#0321.0000,Presence,2018-03-10T15:59:51.658+01:00,3.45,9.0,0.0,65.0
7985,jzp://edv#0321.0000,Presence,2018-03-10T16:01:51.438+01:00,3.45,9.0,0.0,66.0
7986,jzp://edv#0321.0000,Presence,2018-03-10T16:03:51.583+01:00,3.45,9.0,0.0,67.0
7987,jzp://edv#0321.0000,Presence,2018-03-10T16:05:58.243+01:00,3.45,9.0,0.0,NaN
7988,jzp://edv#0321.0000,Presence,2018-03-10T16:07:57.132+01:00,3.45,9.0,0.0,1.0
7989,jzp://edv#0321.0000,Presence,2018-03-10T16:09:56.878+01:00,3.45,9.0,0.0,2.0

Yes looks like a device reset, we could remove those rows but since data seems not corrupted we could adopt a replacing strategy and use an impossible sequence value like -1 or add a new boolean column that indicates if there were a problem (this can be useful especially with tree-based algorithms like random forest) when we'll do feature engineering.

In [16]:
#presence_df.fillna(-1, inplace=True)

In [17]:
presence_df.describe(include='all')

,idsensor,sensortype,srtDate,battery_level,device_temperature,presence,sequence_number
count,1230378,1230378,1230378,1.230378e+06,1.230378e+06,1.230378e+06,1.229677e+06
unique,6,1,1199742,NaN,NaN,NaN,NaN
top,jzp://edv#0325.0000,Presence,2019-02-20T12:21:55.673+01:00,NaN,NaN,NaN,NaN
freq,485192,1230378,4,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.332834e+00,5.624164e+00,7.432838e-02,1.240876e+02
std,NaN,NaN,NaN,3.140807e-01,3.981635e+00,3.195805e-01,7.353457e+01
min,NaN,NaN,NaN,1.900000e+00,-1.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,3.350000e+00,2.000000e+00,0.000000e+00,6.000000e+01
50%,NaN,NaN,NaN,3.450000e+00,6.000000e+00,0.000000e+00,1.230000e+02
75%,NaN,NaN,NaN,3.500000e+00,9.000000e+00,0.000000e+00,1.870000e+02
max,NaN,NaN,NaN,3.600000e+00,1.700000e+01,2.030000e+02,2.550000e+02

There are also 6 different sensors inside this dataset, as it is time series data and each sensor is on it's own it can be useful to split the data into different datasets

In [18]:
presence_sensors = presence_df['idsensor'].unique()
presence_sensors

array(['jzp://edv#0321.0000', 'jzp://edv#0325.0000',
       'jzp://edv#0322.0000', 'jzp://edv#0320.0000',
       'jzp://edv#0324.0000', 'jzp://edv#0323.0000'], dtype=object)

In [19]:
for sensor in presence_sensors:
    sensor_num = sensor.replace('jzp://edv#', '')
    sensor_num = sensor_num.replace('.0000', '')
    temp_df = presence_df[presence_df['idsensor'] == sensor]
    save(temp_df, NEW_DATA_DIR + 'presence_' + sensor_num + '.csv')

Saved ../data/processed/presence_0321.csv
Saved ../data/processed/presence_0325.csv
Saved ../data/processed/presence_0322.csv
Saved ../data/processed/presence_0320.csv
Saved ../data/processed/presence_0324.csv
Saved ../data/processed/presence_0323.csv

## Reedsensor

In [20]:
reedsensor_df = pd.read_csv(DATA_DIR + 'reedsensor.csv')
reedsensor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156958 entries, 0 to 156957
Data columns (total 7 columns):
idsensor              156958 non-null object
sensortype            156958 non-null object
srtDate               156958 non-null object
battery_level         156958 non-null float64
device_temperature    156958 non-null float64
sequence_number       156958 non-null float64
status                156919 non-null float64
dtypes: float64(4), object(3)
memory usage: 8.4+ MB

In this case we can see there ~40 missing *status* values

Let's take a look at them in their context

In [21]:
null_status = reedsensor_df[reedsensor_df['status'].isnull()]
null_status.head()

,idsensor,sensortype,srtDate,battery_level,device_temperature,sequence_number,status
14,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:11:11.397+01:00,3.55,13.0,0.0,NaN
4539,jzp://edv#0126.0000,ReedSensor,2018-03-03T13:10:29.557+01:00,3.55,12.0,0.0,NaN
8709,jzp://edv#0126.0000,ReedSensor,2018-03-06T01:11:40.630+01:00,3.55,12.0,0.0,NaN
13447,jzp://edv#0126.0000,ReedSensor,2018-03-08T13:10:47.485+01:00,3.55,14.0,0.0,NaN
18173,jzp://edv#0126.0000,ReedSensor,2018-03-11T01:11:45.825+01:00,3.55,13.0,0.0,NaN

In [22]:
reedsensor_df.iloc[10:17]

,idsensor,sensortype,srtDate,battery_level,device_temperature,sequence_number,status
10,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:08:04.659+01:00,3.55,13.0,19.0,0.0
11,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:09:04.529+01:00,3.55,13.0,20.0,0.0
12,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:09:05.996+01:00,3.55,13.0,21.0,0.0
13,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:10:05.268+01:00,3.55,13.0,22.0,0.0
14,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:11:11.397+01:00,3.55,13.0,0.0,NaN
15,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:12:10.019+01:00,3.55,13.0,1.0,0.0
16,jzp://edv#0126.0000,ReedSensor,2018-03-01T01:13:09.965+01:00,3.55,13.0,2.0,0.0

In [23]:
reedsensor_df.iloc[13445:13448]

,idsensor,sensortype,srtDate,battery_level,device_temperature,sequence_number,status
13445,jzp://edv#0126.0000,ReedSensor,2018-03-08T13:08:41.481+01:00,3.55,14.0,21.0,0.0
13446,jzp://edv#0126.0000,ReedSensor,2018-03-08T13:09:41.072+01:00,3.55,14.0,22.0,0.0
13447,jzp://edv#0126.0000,ReedSensor,2018-03-08T13:10:47.485+01:00,3.55,14.0,0.0,NaN

Seems like this is a similar case like the one in the Presence meter, we can act the same way and replace status NaN with something like -1 and add a new column when we'll do feature engineering.

In [24]:
#reedsensor_df.fillna(-1, inplace=True)

Let's see if we need to split by device here:

In [25]:
reedsensor_df.describe(include='all')

,idsensor,sensortype,srtDate,battery_level,device_temperature,sequence_number,status
count,156958,156958,156958,156958.000000,156958.000000,156958.000000,156919.000000
unique,2,1,156832,NaN,NaN,NaN,NaN
top,jzp://edv#0126.0000,ReedSensor,2018-05-05T07:22:58.924+02:00,NaN,NaN,NaN,NaN
freq,156875,156958,2,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.585666,15.593216,126.709661,0.025108
std,NaN,NaN,NaN,0.023826,1.731934,74.237940,0.156455
min,NaN,NaN,NaN,3.250000,10.000000,0.000000,0.000000
25%,NaN,NaN,NaN,3.550000,15.000000,62.000000,0.000000
50%,NaN,NaN,NaN,3.600000,16.000000,127.000000,0.000000
75%,NaN,NaN,NaN,3.600000,17.000000,191.000000,0.000000
max,NaN,NaN,NaN,3.600000,26.000000,255.000000,1.000000

Yes there are two different sensor, let's take a look and split by name

In [26]:
rsensors = reedsensor_df['idsensor'].unique()
rsensors

array(['jzp://edv#0126.0000', 'jzp://edv#0125.0000'], dtype=object)

We save them in different files

In [27]:
for sensor in rsensors:
    sensor_num = sensor.replace('jzp://edv#', '')
    sensor_num = sensor_num.replace('.0000', '')
    temp_df = reedsensor_df[reedsensor_df['idsensor'] == sensor]
    save(temp_df, NEW_DATA_DIR + 'reedsensor_' + sensor_num + '.csv')

Saved ../data/processed/reedsensor_0126.csv
Saved ../data/processed/reedsensor_0125.csv

## Environmental

In [28]:
environmental_df = pd.read_csv(DATA_DIR + 'environmental.csv')
environmental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48173 entries, 0 to 48172
Data columns (total 17 columns):
idsensor                     48173 non-null object
sensortype                   48173 non-null object
srtDate                      48173 non-null object
absolute_humidity            48173 non-null float64
back_front                   48173 non-null float64
battery_level                48173 non-null float64
device_temperature           48044 non-null float64
dew_point                    48044 non-null float64
environmental_temperature    48044 non-null float64
movement_level               48044 non-null float64
orientation                  48044 non-null float64
position                     48044 non-null float64
posture_tilt                 48044 non-null float64
pressure                     48044 non-null float64
regular                      48044 non-null float64
relative_humidity            48044 non-null float64
sequence_number              48044 non-null float64
dtypes: float64(14), object(3)
memory usage: 6.2+ MB

Looks like a similar case like the luxmeter, let's take a look

In [29]:
null_env = environmental_df[environmental_df['regular'].isnull()]
null_env.head()

,idsensor,sensortype,srtDate,absolute_humidity,back_front,battery_level,device_temperature,dew_point,environmental_temperature,movement_level,orientation,position,posture_tilt,pressure,regular,relative_humidity,sequence_number
0,jzp://edv#0192.0000,Environmental,2019-02-01T22:20:33.200+01:00,3.55,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,jzp://edv#0192.0000,Environmental,2019-02-02T10:22:11.803+01:00,3.55,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,jzp://edv#0192.0000,Environmental,2019-02-02T22:23:48.364+01:00,3.55,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,jzp://edv#0192.0000,Environmental,2019-02-04T10:28:41.073+01:00,3.55,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1797,jzp://edv#0192.0000,Environmental,2019-02-04T22:30:18.936+01:00,3.55,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's see if they are always NaN all together to check if we can drop those rows:

In [30]:
nan_columns = ['device_temperature', 'dew_point', 'environmental_temperature', 'movement_level', 'orientation', 'position', 'posture_tilt','pressure','regular','relative_humidity', 'sequence_number']

prev = environmental_df[environmental_df[nan_columns[0]].isnull()]
prev_col = nan_columns[0]

for col in nan_columns:
    curr = environmental_df[environmental_df[col].isnull()]
    print(f'Using {col} same as using {prev_col}? {prev.equals(curr)}')
    prev_col = col

Using device_temperature same as using device_temperature? True
Using dew_point same as using device_temperature? True
Using environmental_temperature same as using dew_point? True
Using movement_level same as using environmental_temperature? True
Using orientation same as using movement_level? True
Using position same as using orientation? True
Using posture_tilt same as using position? True
Using pressure same as using posture_tilt? True
Using regular same as using pressure? True
Using relative_humidity same as using regular? True
Using sequence_number same as using relative_humidity? True

Yes we can absolutely drop them.

In [31]:
environmental_df.dropna(inplace=True)

In [32]:
environmental_df.describe(include='all')

,idsensor,sensortype,srtDate,absolute_humidity,back_front,battery_level,device_temperature,dew_point,environmental_temperature,movement_level,orientation,position,posture_tilt,pressure,regular,relative_humidity,sequence_number
count,48044,48044,48044,48044.000000,48044.0,48044.000000,48044.000000,48044.000000,48044.000000,48044.0,48044.0,48044.0,48044.0,48044.000000,48044.0,48044.000000,48044.000000
unique,1,1,48044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,jzp://edv#0192.0000,Environmental,2019-02-06T09:53:00.701+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,48044,48044,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,8.855270,0.0,3.550690,5.764653,9.657847,22.104620,0.0,0.0,0.0,0.0,101601.421967,0.0,45.362522,106.048497
std,NaN,NaN,NaN,1.113991,0.0,0.007412,1.088414,1.887967,0.873924,0.0,0.0,0.0,0.0,861.104608,0.0,4.824253,72.988697
min,NaN,NaN,NaN,5.796805,0.0,3.450000,2.000000,3.529067,19.302406,0.0,0.0,0.0,0.0,99350.000000,0.0,32.000000,0.000000
25%,NaN,NaN,NaN,8.065304,0.0,3.550000,5.000000,8.362775,21.533226,0.0,0.0,0.0,0.0,101011.000000,0.0,41.000000,45.000000
50%,NaN,NaN,NaN,8.663691,0.0,3.550000,6.000000,9.449885,22.176727,0.0,0.0,0.0,0.0,101573.000000,0.0,45.000000,90.000000
75%,NaN,NaN,NaN,9.694873,0.0,3.550000,6.000000,11.147948,22.691536,0.0,0.0,0.0,0.0,102233.250000,0.0,49.000000,166.000000
max,NaN,NaN,NaN,11.805348,0.0,3.600000,9.000000,14.267157,25.522964,0.0,0.0,0.0,0.0,103539.000000,0.0,56.000000,255.000000

The id is just on so we can proceed to save it in a file

In [33]:
save(environmental_df, NEW_DATA_DIR + 'environmental.csv')

Saved ../data/processed/environmental.csv

## powerelectricity

In [34]:
powerelectricity_df = pd.read_csv(DATA_DIR + 'powerelectricity.csv')
powerelectricity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166070 entries, 0 to 166069
Data columns (total 5 columns):
idsensor          166070 non-null object
sensortype        166070 non-null object
srtDate           166070 non-null object
electric_power    166070 non-null float64
rms_current       166070 non-null float64
dtypes: float64(2), object(3)
memory usage: 6.3+ MB

Apparently there are no missing values, so let's take a look if there are different sensors, otherwise we save as is.

In [35]:
powerelectricity_df.describe(include='all')

,idsensor,sensortype,srtDate,electric_power,rms_current
count,166070,166070,166070,166070.000000,166070.000000
unique,1,1,48416,NaN,NaN
top,jzv://powerelectricity/0000#1012,powerelectricity,2018-05-30T00:28:51.523+02:00,NaN,NaN
freq,166070,166070,301,NaN,NaN
mean,NaN,NaN,NaN,12.055046,63.157751
std,NaN,NaN,NaN,2.597444,13.608303
min,NaN,NaN,NaN,3.290496,17.239280
25%,NaN,NaN,NaN,10.051912,52.663103
50%,NaN,NaN,NaN,10.928413,57.255193
75%,NaN,NaN,NaN,14.078360,73.758121
max,NaN,NaN,NaN,30.629625,160.472074

Nope, everything seems alright, so we proceed to save it.

In [37]:
save(powerelectricity_df, NEW_DATA_DIR + 'powerelectricity.csv')

Saved ../data/processed/powerelectricity.csv